In [1]:
rdd = sc.parallelize(range(100))

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200331171559-0000
KERNEL_ID = d69646da-6621-4b52-a504-3707407d27e4

In [2]:
rdd.count()

100

In [3]:
rdd.sum()

4950

#### Functional Programming

In [4]:
def gt50(i):
    if i>50:
        return True
    else: 
        return False

In [5]:
print(gt50(4))

False

In [6]:
print(gt50(344))

True

In [7]:
gt50 = lambda x:x>50

In [8]:
print(gt50(5))

False

In [9]:
from random import shuffle

In [10]:
l = list(range(100))

In [11]:
shuffle(l)

In [14]:
rdd = sc.parallelize(l)

In [16]:
rdd.filter(gt50).collect()

[98,
 84,
 53,
 52,
 62,
 88,
 72,
 83,
 86,
 71,
 93,
 81,
 80,
 59,
 66,
 63,
 60,
 78,
 95,
 77,
 61,
 89,
 85,
 68,
 65,
 76,
 82,
 99,
 69,
 96,
 75,
 74,
 57,
 67,
 54,
 97,
 92,
 56,
 90,
 58,
 55,
 70,
 64,
 87,
 91,
 94,
 79,
 73,
 51]

In [17]:
rdd.filter(lambda x:x>50).filter(lambda x:x<75).collect()

[53,
 52,
 62,
 72,
 71,
 59,
 66,
 63,
 60,
 61,
 68,
 65,
 69,
 74,
 57,
 67,
 54,
 56,
 58,
 55,
 70,
 64,
 73,
 51]

### Exercise 3: Working with Dataframes

In [18]:
from pyspark.sql import Row

In [20]:
df = spark.createDataFrame([Row(id=1, value = 'value1'), Row(id=2, value = 'value2')])

In [21]:
df.show()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

In [22]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

#### Registering the dataframe as a query table and issue SQL

In [24]:
df.createOrReplaceTempView('df_view')

In [25]:
df_result = spark.sql('select value from df_view where id=2')

In [26]:
df_result.show()

+------+
| value|
+------+
|value2|
+------+

In [27]:
df_result.first().value

'value2'

In [31]:
df.count()

2

In [32]:
len(range(999))

999

In [33]:
sc.parallelize(range(999)).count()

999

## Calculating the mean and median

In [36]:
rdd = sc.parallelize(range(100))

In [37]:
sortedAndIndex = rdd.sortBy(lambda x: x).zipWithIndex().map(lambda (value,key): (key,value))
n = sortedAndIndexed.count()
if (n%2)==1:
    index = (n-1)/2
    print sortedAndIndex.lookup(index)
else:
    index1 = (n/2)-1
    index2 = n/2
    value1 = sortedAndIndex.lookup(index1)[0]
    value2 = sortedAndIndex.lookup(index2)[0]
    print (value1+value2)/2

SyntaxError: invalid syntax (<ipython-input-37-a5d8d302f4ac>, line 1)